<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- <http>
	<intercept-url pattern="/AdminCheck*" access="ROLE_USER"/>
	<http-basic/>
	</http> -->
	  <!--   <http>
	<intercept-url pattern="/AdminCheck*" access="ROLE_ADMIN"/>
	 <intercept-url pattern="/CustomerCheck*" access="ROLE_USER"/>
	<form-login/>
	<logout logout-success-url="/logout"/>
	</http>-->
	
	<http>
	 <intercept-url pattern="/AdminCheck*" access="ROLE_ADMIN"/>
	<form-login  login-page="/login"  default-target-url="/AdminCheck"/>
	<intercept-url pattern="/CustomerCheck**" access="ROLE_USER"/>
	<form-login login-page="/login"  default-target-url="/CustomerCheck"/>
	<logout logout-success-url="/logout"/>
	</http>
	  <!-- <http>
	 <intercept-url pattern="/AdminCheck*" access="ROLE_ADMIN"/>
	<form-login  login-page="/login"   default-target-url="/AdminCheck"/>
	<logout logout-success-url="/logout"/>
	</http> -->
	 <authentication-manager>
	<authentication-provider>
	<jdbc-user-service data-source-ref="dataSource" 
	 users-by-username-query="select firstname,password,enabled from usersdetail where firstname=?" 
	authorities-by-username-query="select u1.firstname, u2.authority from usersdetail u1, user_role u2 where u1.userid = u2.user_role_id and u1.firstname =?" />
	</authentication-provider>
	</authentication-manager>
	
	</beans:beans>